@{
    ViewData["Title"] = "Welcome!";
}
<div class="text-center">
    <h1 class="display-4">Your account has been successfully created!</h1>
</div>
<br />
<div style="text-align:center;">
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg">Login</a>
</div>